.abc{
  background-image: url("../../../assets/charge-7.webp");
  background-size: cover;
}
.content{
  color:red;
  font-weight: bolder;
}
.para{
  font-weight: bolder;
  color:brown;
}
.text {
  font-weight: bolder;
  color: brown;
}
.abcd {
  font-weight: bolder;
  color: brown;
}
