<div class ="color align-items-center justify-content-center d-flex"style="height: 100vh;" >
  <div class="border">
  <form action="/login" method="post" name ="form" >
    <table>
    <tr>
      <td><label for="username">Username:</label></td>
      <td><input type="text" id="username" name="username"></td>
    </tr>
    <tr>
      <td><label for="password">Password:</label></td>
      <td><input type="password" id="password" name="password"></td>

    </tr>
    <button type="submit"> Login</button>
  </table>
  </form>
</div>
</div>

