<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-1.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">TATA Power</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-danger">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-2.png" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title fw-bold">Aither</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-danger">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-3.png" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title fw-bold">Charge Zone</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-danger"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-4.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">EESL</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-warning">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-5.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">FORTRUM</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-warning"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-6.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">BESCOM</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-warning"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-7.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold"> PLUGnGO</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-primary"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-8.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">Aar Power</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-primary">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/st-9.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">BPCL</h5>
        <a href="https://ev.tatamotors.com/charging-locator/" class="btn btn-primary">View </a>
      </div>
    </div>
  </div>
</div>

