<br>
<div class="abc">
  <div class="content text-center">
    <br>
        <h1>ELECTRIC VEHICLE CHARGING </h1>
        <br>
  </div>
  <div class="para">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Today when the world is thriving to use day by day new technology everywhere, Electric Vehicles must be the future means of transport. Pollution, growing demand for fuel, Global Warming, promoting eco-friendly means of transport are some of the reasons for promoting electric vehicles.
      Electric Vehicles are means of transport that consume eclectic energy as fuel instead of traditional fuels such as petrol, diesel, and CNG. These vehicles may be powered through a collector system by electricity from off-vehicle sources or maybe inbuilt with a battery, solar panels, fuel cells, or an electric generator to convert fuel to electricity. Electric bikes, electric cars, electric rickshaws, etc are some examples of electric vehicles. Most of the trains including metros are already running worldwide through electricity.
      These are following factors which creates urgent need for use of electric vehicles:
    </p>
        <p>
          To reduce pollution:<br>
              To conserve non-renewable natural resources<br>
              To reduce import of petrol and diesel<br>
              To promote use of renewable energy<br>
              To reduce global warming<br>
              To fulfill the need of growing demand of more means of transport.<br></p>
        The world population is increasing drastically day by day and the demand of means of transport also growing proportionally. Thus demand of fuel is also increasing.  Too much smoke comes out from traditional vehicles this cause air pollution which take many lives every year.

    <br><br><br><br><br>
    <p class="text">
      We all are living in an advance era of technology. Advancement of technology always helps for betterment of human life. Use of electric vehicles are very beneficial for human as well as for environment in many ways. Some of these are given below:
      Electric vehicles run from electricity and doesn't emit smoke thus it is very helpful for reducing the pollution which causes many types of life threatening disease.
      Smoke is also one of the major causes of global warming. Thus using electric vehicles will reduce global warming.
      Petrol, Diesel and CNG are non-renewable natural resources of energy. Over-use of these fuels is not good for nature also. Thus use of electric vehicles can be very helpful for conservation of these natural resources.
      Today when advancement of technology growing rapidly electric vehicles are new means of transport to fulfill the larger demand of people growing day by day.
      Electric vehicles are eco-friendly. Use of electric vehicles is good for environment as well as human life.

    </p>
    <br><br><br><br><br>
    <p class="abcd">
    As electric vehicle is cheaper in long run and also environment friendly, Government is continuously promoting the use of electric vehicles.
    Since long time many trains including metros have been running on electricity.
    Indian Railways trains are now almost running on electricity.
     Electric bike, electronic car, electronic rikshaw are already in market.
      Now people should use more electric vehicles in place of traditional petrol & diesel vehicles.
       Government has started campaign to promote use of electric vehicles.
       Some rebate on taxes and subsidy on purchasing the electric vehicles, are also provided by the Government.
       Recently Delhi Government has launched 'Switch Delhi' campaign to promote the use of electric vehicles
      </p>
      <br><br><br><br><br>    <br><br><br><br><br>
      <br><br><br><br><br>

  </div>
</div>
